body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: black;
    font-family: 'Press Start 2P';
}

h1 {
    color: #F8CB2E;
    text-transform: uppercase;
}

main {
    grid-area: canvas;
  }

#score {
    color: #F8CB2E;
    display: none;
}

button
{
    font-family: 'Press Start 2P';
    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	display: inline-block;
	font-size: 1rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
    background: #54123B;
}

button:hover {
    background-color: #B8405E;
}


h2 {
    font-family: 'Geo';
    color: #F8CB2E;
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-transform: uppercase;
    
}

p {
    font-family: 'Geo';
    color: #F8CB2E;
    margin: auto;
    width: 50%;
    font-size: 20px;
}