body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-size: cover; */
    /* background-repeat: space; */
    text-align: center;
    background-color: black;
    font-family: 'Press Start 2P';
}

h1 {
    color: #F8CB2E;
}

canvas {
    width: 100%;
    height: 400px;
}

#score {
    color: #F8CB2E;
    display: none;
}

.btn
{
    font-family: 'Press Start 2P';
    background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 2rem;
	margin: 1rem;
	min-width: 200px;
	padding: .5rem;
	text-transform: uppercase;
	width: auto;
}

.btnGame {
    background: #A9294F;
}